#about-us {
  padding-left: 50px;
  padding-right: 50px;
}

#profiles {
  padding-top: 50px;
  padding-bottom: 150px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #ff4b2b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #e82502;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
>>>>>>> ea9b6f23af87283158a244c66269e198f4c31c36
}

body {
  background:
     url(https://i.imgur.com/QUXYuBn.jpg)    /* image */
     top center / 2500px 1000px /* position / size */
     no-repeat                /* repeat */
     fixed                    /* attachment */
     padding-box              /* origin */
     content-box              /* clip */
     red;                     /* color */
}
