body {
  background:
     url(https://i.imgur.com/QUXYuBn.jpg)    /* image */
     top center / 2500px 1000px /* position / size */
     no-repeat                /* repeat */
     fixed                    /* attachment */
     padding-box              /* origin */
     content-box              /* clip */
     red;                     /* color */
}

#getstarted {
  width: 100%;
  text-align: center;
  padding: 20px;
  padding-bottom: 400px;

}

.button a {
  display: block;
}
