<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Horizon: About Us</title>
    <link rel="stylesheet" href="stylesheets/master.css">
    <link rel="stylesheet" href="stylesheets/about-us.css">
    <link rel="shortcut icon" href="https://i.imgur.com/JJXIYiI.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <a href="/">Horizon</a>
    </div>
    <div id="body">
      <div id="about-us">

        <div><center><h1>Meet the team!</center></h1></div>
        <div>
            <center>
                <img src="https://i.imgur.com/psB6fay.jpg" alt="Group Picture" style="width:50%; padding-bottom: 20px;" >
            </center>
        </div>
        <div>
          <p>Horizon, an interactive website focused on providing users with new suggestions on interests, was created as a project by Asia Collins, Bethelehem Engeda, Zachary Rideaux, and Isabella Siu as their final project as part of Google's Computer Science Summer Institute. Horizon is a platform for people around the world to share their interests with other people and discover some new interests.</p>
        </div>
        <div id="profiles">
          <br>
          <div id="asia">
            <a href="https://www.linkedin.com/in/asia-collins-44a3b0190">
              <img src="https://i.imgur.com/wVrTUmR.jpg">
              <p>Asia Collins</p>
            </a>
          </div>
          <div id="bethelehem">
            <a href="https://www.linkedin.com/in/bethelehem-engeda-bb3298168/">
              <img src="https://i.imgur.com/86PjKlL.jpg">
              <p>Bethelehem Engeda</p>
            </a>
          </div>
          <div id="zachary">
            <a href="https://www.linkedin.com/in/zachary-rideaux-b8ba4518a/">
              <img src="https://i.imgur.com/W8sZ8jO.jpg">
              <p>Zachary Rideaux</p>
            </a>
          </div>
          <div id="isabella">
            <a href="https://www.linkedin.com/in/isabella-siu-b01531189/">
              <img src="https://i.imgur.com/ZzrE10T.jpg">
              <p>Isabella Siu</p>
            </a>
          </div>
        </div>
        <p id="contact">If you have any questions or would like more information about Horizon and its founders, please contact us using the contact form below.</p>
        <div class="container">
          <form action="mailto:horizoncssi@gmail.com">

            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name...">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name...">

            <label for="email">Your Email</label>
            <input type="text" id="email" name="email" placeholder="Your email account...">

            <label for="subject">Message</label>
            <textarea id="subject" name="subject" placeholder="Write something..." style="height:170px"></textarea>

            <input type="submit" value="Submit">

          </form>
        </div>
      </div>
    </div>
    <div id="footer">
      <div>by {{creators}}</div>
      <a href="https://github.com/zrschool/horizon">source code</a>
      <div>2019</div>
    </div>
  </body>
</html>
