<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project</title>
    <link rel="stylesheet" href="stylesheets/master.css">
    <link rel="stylesheet" href="stylesheets/about-us.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <a href="/">Horizon</a>
    </div>
    <div id="body">
      <div id="about-us">

        <div><center><h1>Meet the team!</center></h1></div>
        <div>
            <center>
                <img src="pictures/group.JPG" alt="Group Picture" style="width:60%" >
            </center>
        </div>
        <div>
        <p>Horizon, an interactive website focused on providing users with new suggestions on interests, was created as a project by Asia, Bethelehem, Zachary, and Isabella as their final project as part of Google's Computer Science Summer Institute. Horizon is a platform for people around the world to share their interests with other people and discover some new interests.</p>
        <p>If you have any questions or would like more information about Horizon and its founders, please contact us at horizon@gmail.com.</p>
        </div>
        <div id="profiles">
        <br>
        <a href="???????"><img src="pictures/asia.jpg" style="width: 100%">Asia Collins</p></a>
        <a href="https://www.linkedin.com/in/bethelehem-engeda-bb3298168/"><img src="pictures/beth.jpg" style="width: 100%">Bethelehem Engeda</p></a>
        <a href="https://www.linkedin.com/in/zachary-rideaux-b8ba4518a/"><img src="pictures/zach.jpg" style="width: 100%">Zachary Rideaux</p></a>
        <a href="https://www.linkedin.com/in/isabella-siu-b01531189/"><img src="pictures/isa.jpg" style="width: 100%">Isabella Siu</p></a>
        <p style="clear: both;">
        </br>
        </div>

      </div>
    </div>
    <div id="footer">
      <div>by {{creators}}</div>
      <a href="https://github.com/zrschool/horizon">source code</a>
      <div>2019</div>
    </div>
  </body>
</html>
