<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project</title>
    <link rel="stylesheet" href="stylesheets/master.css">
    <link rel="stylesheet" href="stylesheets/get-started.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      Horizon
    </div>
    <div id="body">
      <div id="getstarted">
        <h1>Who We Are</h1>
        Horizon is a webapp perfect for those looking to discover new interests and activities. Get to know yourself better by trying new things. You can get suggestions for new foods to try or new places to visit. Join now to expand your Horizon!
        <br><br>
        <div id = logo-photo>
        <img src="https://i.imgur.com/VjoIUS5.png" alt= "Horzion Logo" width = "500">
        </div>
        <div class="button">
          <a href="login">Login</a>
        </div>
        <div class="button">
          <a href="about-us">About Us</a>
        </div>
      </div>
    </div>
    <div id="footer">
      <div>by {{creators}}</div>
      <a href="https://github.com/zrschool/horizon">source code</a>
      <div>2019</div>
    </div>
  </body>
</html>
