<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project</title>
    <link rel="stylesheet" href="stylesheets/master.css">
    <link rel="stylesheet" href="stylesheets/get-started.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      Horizon
    </div>
    <div id="body">
      <div id="getstarted">
        Get Started
        <br><br>
        <div>
          <a href="main" class="button">Main Page</a>
        </div>
      </div>
    </div>
    <div id="footer">
      <div>by {{creators}}</div>
      <a href="https://github.com/zrschool/horizon">source code</a>
      <div>2019</div>
    </div>
  </body>
</html>
