<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Horizon</title>
    <link rel="stylesheet" href="stylesheets/master.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <a id = "logo" href="/">Horizon</a>
    </div>
    <div id="body">
      <div class="contentbox" id="leftbox">
        Signed in as: {{current_user.email()}} | ID: {{current_user.user_id()}}
        <!-- Has form to append an interest to "Your Interests" -->
        <div id="add-interest-box">
          Add New Interest:
          <form id="submission" method="post" action="/update-database">
            <!-- TODO: pass this into the python file to make a new attribute/model whenever
            it is clicked. also switch to UpdateDatabase page -->
            <input type="text" name="input-interest" placeholder="Enter a new interest" class="inputbox">
            <input type="submit" name="submit" value="Submit" class="button" id="submit">
          </form>
        </div>
        <!-- Displays each of user's Interests -->
        <div id="your-interests-box">
          <p>Your Current Interests:</p>
          <div class="interests">
            <!-- Probably a Jinja for loop here -->
            {% for key in current_profile.interests %}
              <!-- When clicked, send to "Selected Interests" and make green -->
              <form action="/update-database" method="POST" class="interest">

                <input type="hidden" name="interest_key" value="{{key.urlsafe()}}"/>


                <a href="#" onclick="this.parentNode.submit()" class="interest">
                  <!-- interest model -->
                  {{key.get().interest_name}}
                </a>

              </form>
            {% endfor %}
            <!-- endloop -->
          </div>
        </div>
      </div>
      <div class="contentbox" id="rightbox">
        <div id="selected-interests-box">
          Your Selected Interests:
          <div class="interests">

            {% for key in current_profile.selected_interests %}
              <form action="/update-database" method="POST" class="interest">

                <input type="hidden" name="selected_interest_key" value="{{key.urlsafe()}}"/>


                <a href="#" onclick="this.parentNode.submit()" class="interest">

                  <!-- interest model -->
                  {{key.get().interest_name}}
                </a>

              </form>
            {% endfor %}
          </div>
        </div>
        <div id="recommendations-box">
          People With Your Interests Also Like:
          <div class="interests">
            {% for key in current_profile.recommendations %}
              <!-- When clicked, send to "Selected Interests" and make green -->
              <form action="/update-database" method="POST" class="interest">

                <input type="hidden" name="interest_key" value="{{key.urlsafe()}}"/>

                <span class="interest">
                  <!-- interest model -->
                  {{key.get().interest_name}}
                </span>

              </form>
            {% endfor %}
          </div>
          <form class="button" action="/get-recommendations" method="POST" style="text-align: center">
            <a href="#" onclick="this.parentNode.submit()">Get New Recommendations</a>
          </form>
        </div>
      </div>
    </div>
    <div id="footer">
      <div>by {{creators}}</div>
      <a href="https://github.com/zrschool/horizon">source code</a>
      <div>2019</div>
    </div>
  </body>
</html>
