<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project</title>
    <link rel="stylesheet" href="stylesheets/master.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      Horizon
    </div>
    <div id="body">
      <div class="contentbox" id="leftbox">
        {{current_user.user_id()}}
        <!-- Has form to append an interest to "Your Interests" -->
        <div id="add-interest-box">
          Add New Interest:
          <form id="submission" method="get" action="/update-database">
            <!-- TODO: pass this into the python file to make a new attribute/model whenever
            it is clicked. also switch to UpdateDatabase page -->
            <input type="text" name="input-interest" placeholder="Enter a new interest" class="inputbox">
            <input type="submit" name="submit" value="Submit" class="button" id="submit">
          </form>
        </div>
        <!-- Displays each of user's Interests -->
        <div id="your-interests-box">
          <p>Your Current Interests:</p>
          <div class="interests">
            <!-- Probably a Jinja for loop here -->
            <!-- When clicked, send to "Selected Interests" and make green -->
            <a href="#" class="interest">
              <!-- interest model -->
              Cake
            </a>
            <a href="#" class="interest">
              <!-- interest model -->
              Pie
            </a>
            <!-- endloop -->
          </div>
        </div>
      </div>
      <div class="contentbox" id="rightbox">
        <div id="selected-interests-box">
          Your Selected Interests:
          <div class="interests">
            
          </div>
        </div>
        <div id="recommendations-box">
          People With Your Interests Also Like:
        </div>
        <!-- <a href="#" class="button">Test</a><br><br> -->
      </div>
    </div>
    <div id="footer">
      <div>by {{creators}}</div>
      <a href="https://github.com/zrschool/horizon">source code</a>
      <div>2019</div>
    </div>
  </body>
</html>
